@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

$itemcolor:  rgba(200, 125, 84, .5);
$white: #FFFFFF;
$black: #000;
$blue:#0000FF;
$background: rgba(158, 154, 221, 0.8);
$imagesize: 70px;
$margin-text:7px;
$buttons-color: #4686B5;
$item-background: rgba($blue, .2);

body{
	background: lighten($base-color, 15%);
}

.x-fullscreen, .x-layout-fit-item, .x-layout-card-item {
    background:url('../images/b1.jpg');
	background-size: 100% 100%;
}


.image-edit{
	@include border-radius(6px);
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,.6);
}

.categories-list{

	 .x-list-item {
			padding: 5px;
			height: $imagesize + 20px;

			background: $item-background;

			border-bottom: 1px solid rgba($black, 0.5);

			.image{
				width: $imagesize;
				height: $imagesize;
				background: lighten($black, 90%);
				@include border-radius(4px);
				@include box-shadow(3px 3px 6px rgba($black, 0.7));
				float:left;
				margin-right: 10px;
				margin-top:- $margin-text;
				border: 2px solid $white;
			}
			
			span {
				font-size: 0.8em;
				
				.name{
					color: rgba($black, 0.8);
					margin: $margin-text auto 5px auto;
					font-weight: bold;
					font-size: 1.4em;
					margin-right: 29px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				.description{
					font-size: 0.65em;
					font-style: italic;
					letter-spacing: 0.3em;
					margin-right: 29px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}

			.actions{
				float: right;
				margin-top:   $imagesize / 1.2 * -1;
				
				a{
					display: block;
					padding: 7px;
					text-decoration:none;
					font-size: 1.5em;
					color: rgba($blue, 0.5);
					text-align: center;
					font-family: "Pictos";
					color: $white;

					&.link-edit:before{
						content: "W";
					}

					&.link-remove:before{
						content: "#";
					}
				}
			}
			
		}

		.x-item-pressed {
			background: darken($background, 45%);
			@include border-radius(3px);
			color: rgba($white, 0.5) !important;
		}

		.x-item-selected {
			background:  darken($item-background, 5%) !important;
		}


}

#imagephoto{
	width: 50px;
	height: 50px;
	background: red;
}

.products-carousel{
	.x-toolbar{
		visibility: hidden;

		.x-button{
			visibility: visible;
			background: rgba($black, 0.6);
		}

		.x-button-pressing: {
			background: rgba($black, 0.8);
		}
	}

	.product-detail{
		background: rgba($blue, .6);
	}

	.image{
		margin: 8px;
		background-image: url('../images/thumbnail.jpg');
		background-size: cover;
		height: 110px;
		width: 110px;
		border: 3px solid rgba($white, .6);
		@include box-shadow( 0 0 10px rgba($black, 0.7));
		@include border-radius(10px);
	}

	.title{
		margin: 8px;
		padding: 3px;
		margin-bottom: 0;
		background: $base-color;
		@include box-shadow( 0 3px 5px $black);
		font-weight: bold;
		font-size: 1.2em;
		color: $white;
	}

	.info{
		margin: 8px;
		margin-top: 0;
		padding: 5px;
		background: rgba($white, .7);
		//@include box-shadow( 0 0 10px rgba($black, 0.7));
		@include border-corner-radius(bottom, left, 6px);
		@include border-corner-radius(bottom, right, 6px);
		overflow: hidden;


		h1{
			width: 38%;
			margin-bottom: 3px;
			font-weight: bold;
			color: rgba($black, .8);
		}
		span{
			float: right;
			width: 62%;
			margin-top: -23px;
			overflow: hidden;
			font-style: oblique;
			color: rgba(lighten($blue, 10%), .7);
			font-size: .8em;	
		}

		.description{
			max-height: 90px;
		}

		.clear{
			clear: both;
		}
	}

	.page-counter{
		color: $white;
		margin: 10px;
	}

	.no-items{
		position: absolute;
		bottom: 50%;
		width: 100%;
		text-align: center;

		.icon-text{
			&:before{
				font-family: "Pictos";
				content: "d";
				font-size: 2.5em;
			}
		}
	}
}
